/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
/* Nav Section Styles */

/* Hero Section Styles */
.btn:hover {
  color: #0d6efd !important;
}

/* Collaborate Section Styles */

/* Integrate Section Styles */
