/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
/* Nav Styles */

/* Hero Styles */
.btn:hover {
  color: #0d6efd !important;
}

/* Collaborate Section */
.bullet-override {
  list-style-image: url("./assets/collab-img/list-style.png");
}
